<div class="header">
    <h1 class='article-title'>客户信息</h1>
    <h2>部门：<%= user.deptId %></h2>
</div>
<div class="content">
    <% if (sysmsg && sysmsg.length > 0) { %>
        <div class='sysmsg'><%- sysmsg %></div>
    <% } %>

    <form class="pure-form pure-form-stacked" action="update" method="post">
    <fieldset>
        <legend><%= custom.compName %>:客户信息</legend>

        <div class="pure-g">

                     <% 
                        var nowtime = new Date().getTime();
                        var unitConvert = site.unitConvert;
                    %>
            <div class="pure-u-1-5 ">
                <label for="compId">客户编号：</label>
                <input id="compId" name="compId" class="pure-u-23-24" type="text" value=<%= custom.compId %> readonly>
            </div>

            <div class="pure-u-1-5">
                <label for="compName">公司名称：</label>
                <input id="compName" name="compName" class="pure-u-23-24" type="text" value=<%= custom.compName %> readonly>
            </div>

            <div class="pure-u-6-24">
                <label for="address" class="pure-radio">公司地址：<br/>
                <input id="address" name="address" class="pure-u-23-24" type="text" value=<%= custom.address %>>
                </label>
            </div>

            <div class="pure-u-6-24">
                <label for="contactor" class="pure-radio">联系人：<br/>
                <input id="contactor" name="contactor" class="pure-u-23-24" type="text" value=<%= custom.contactor %>>
                </label>
            </div>

            <div class="pure-u-1-5">
                <label for="phoneNo">联系电话：</label>
                <input id="phoneNo" name="phoneNo" class="pure-u-23-24" type="text" value=<%= custom.phoneNo%> required>
            </div>

            <div class="pure-u-6-24">
                <label for="depositBank" class="pure-radio">开户银行：<br/>
                <input id="depositBank" name="depositBank" class="pure-u-23-24" type="text" value=<%= custom.depositBank %> >
                </label>
            </div>

            <div class="pure-u-6-24">
                <label for="account" class="pure-radio">银行账户：<br/>
                <input id="account" name="account" class="pure-u-23-24" type="text" value=<%= custom.account %> >
                </label>
            </div>

        </div>

        <button type="submit" class="pure-button button-my pure-button-primary">保存</button>

    </fieldset>
</form>
    <a class="pure-link" href="/customs"><button class="pure-button-primary button-my pure-button">返回</button></a>
</div>