<div class="header">
    <h1 class='article-title'>运输路线</h1>
</div>

<div class="content">

    <div class="pure-g">
        <div class="pure-u-1-1">
    <table class="pure-table pure-table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>线路编号</th>
                <th>始发站</th>
                <th>终点</th>
                <th>里程</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; lines && i < lines.length; i++) { %>
                <tr class='<%- i%2 == 0 ? "pure-table-odd" : "" %>'>
                    <td><%- lines[i].路线编号 %></a></td>
                    <td><%- lines[i].起点 %></td>
                    <td><%- lines[i].终点 %></td>
                    <td><%- lines[i].里程%></td>
               
                </tr>
            <% } %>
        </tbody>
    </table>
   

	</div>
    </div>
</div>